%search-components {
	width: 100px;
	height: 20px;
	border: 1px #ccc solid;
	vertical-align: top;
	margin-right: 5px;
}

table {
	width: 300px;
	border-collapse: collapse;
}
td {
	padding: 3px;
	border: 1px solid rgb(116, 116, 116);
}
th {
	@extend td;
	color: white;
	background: #275b5f;
	&:hover {
		cursor: pointer;
	}
}
option {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input {
	@extend %search-components;
	@extend option;
}
select {
	@extend %search-components;
	@extend option;
	box-shadow: none;
}
.table-container {
	padding: 10px 0;
}
.bgr {
	background-color: yellow;
}
.th-container {
	display: flex;
	justify-content: center;
	align-items: center;
    height: 20px;
	p {
		padding: 0 5px;
		margin: 0;
	}
}
